<nav class="navbar">
  <div class="fluid-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TinyApp</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="/urls">Index</a>
      </li>
      <li>
        <a href="/new">New</a>
      </li>
    </ul>

    <% if (!user.id) {%>
    <form action="/login" method="POST" class="form-inline">
    <div class="form-group pull-right">
      <input class="form-control" type="email" type="text" name="email" placeholder="E-mail" style="width: 300px">
      <input class="form-control" type="password" type="text" name="password" placeholder="Password" style="width: 300px">
      <button type="submit" class="btn btn-default">Login</button>
    </div>
    </form>
    <% } %>

    <% if (user.id) {%>
    <form action="/logout" method="POST" class="form-inline">
    <div class="form-group pull-right">
      <label><%= user.email%></label>
      <button type="submit" class="btn btn-default">Logout</button>
    </div>
    </form>
    <% } %>



  </div>
</nav>