<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <a href="/urls">
  <div class="jumbotron">
    <div class="container">
      <h1 class="text-center">Welcome to <strong>TinyApp</strong></h1>
      <h2 class="text-center">...a URL shortening service.</h2>
    </div>
  </div>
  </a>

  <% include partials/_login %>
</body>
</html>
